<body>
  <div class="container col-lg-10 mx-auto p-3">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-2" id="welcome">Bienvenidos a mi portfolio.</span>
      </a>
    </header>
    <main>
      <h1 class="info">Un poco sobre mi
        <button  class="boto btn fa-solid fa-pen" routerLink="/editAboutme/{{sobremi.idAbout}}" *ngIf="isLogged"
        ></button>
      </h1>
      <p class="info fs-5 col-md-8">{{sobremi.aboutText}}</p>

    </main>
  </div>
</body>