<div class="container banner"  id="profile-card">
    <div id="contenedorPerfil" class="container">
        <div id="info">
            <img id="profile-image" src="{{persona.imgProfile}}" alt="Foto de Perfil">
            <button class="btn fa-solid fa-pen" routerLink="/editProfile/{{persona.id}}" *ngIf="isLogged"></button>
        </div>
        <div class="info" id="info-data">
            <div>
                <h2>{{persona.name}} {{persona.lastname}}</h2>
                <div id="info-contact">
                    <span>{{persona.tituloPer}}</span>                
                </div>
            </div>
        </div>
    </div>
</div>
  